<div class="nested-fields">
  <div class="row mx-auto">
    <div class="col-3"><%= f.text_field :name, class: "form-control", placeholder: "材料名" %></div>
    <div class="offset-1 col-2"><%= f.text_field :shop_name, class: "form-control", placeholder: "購入店" %></div>
    <div class="offset-1 col-2"><%= f.text_field :price, class: "form-control", placeholder: "購入価格" %></div>
    <div class="offset-1 col-1 px-0 w-auto">
      <%= link_to_remove_association "削除", f, class: "btn btn-secondary btn-block" %>
    </div>
  </div>
</div>