<!--------- 投稿一覧画面 ------------>
<div class="container">
  <% breadcrumb :latest_posts %>
  <p class="btn-sticky m-2">POST</p>
  <div class="dropdown mr-5">
    <button class="btn dropdown-toggle product-dropdown font-weight-bold"
    type="button" id="dropdownMenu1" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false">
    <span class='product-dropdown'>カテゴリー検索</span>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <%= link_to 'すべての投稿', posts_path, class: "dropdown-item" %>
      <% @categories.each do |category| %>
        <%= link_to category.name, category_index_path(word: category.name), class: "dropdown-item" %>
      <% end %>
    </div>
  </div>

  <%= render 'public/posts/index', latest_posts: @latest_posts %>

  <div class="row">
    <div class="mx-auto mb-5">
      <%= paginate @latest_posts %>
    </div>
  </div>
</div>