// Place all the styles related to the public/chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.add-chat-bubble{
  width: 50%;
  margin: 0 auto;
}

/* チャットエリア */
.chat-area{
  width: 70%;
  margin: 0 auto;
}

.form-width{
  width: 60%;
  margin: 0 auto;
}

/* 相手の会話 */
.line__left {
    position: relative;
    display: block;
    margin: 5px 0;
    max-width: 75%;
    float: left;
    margin-left: 15px;
    clear: both;
}

.line__left .name {
  font-size: 80%;
  color: #000;
}

/* コメントエリア */
.line__left .text {
  margin: 0;
  position: relative;
  padding: 10px;
  border-radius: 20px;
  background-color: #DEEBF3;
  margin-right: 80px;
}

/* 吹き出し */
.line__left .text::after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: -10px;
  top: 10px;
  border-right: 20px solid #DEEBF3;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

/* 既読エリア */
.line__left .date {
  content: '';
  position: absolute;
  display: block;
  width: 100px;
  text-align: left;
  right: -30px;
  bottom: 0px;
  font-size: 80%;
  color: #000;
}

/* 自分の会話 */
.line__right {
    position: relative;
    display: block;
    margin: 5px 0;
    max-width: 75%;
    float: right;
    margin-right: 15px;
    clear: both;
}

/* コメントエリア */
.line__right .text {
  padding: 10px;
  border-radius: 20px;
  background-color: #CDDEE8;
  margin: 0;
  margin-left: 80px;
}

/* 吹き出し */
.line__right .text::after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  right: -10px;
  top: 10px;
  border-left: 20px solid #CDDEE8;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

/* 時刻 */
.line__right .date {
  content: '';
  position: absolute;
  display: block;
  width: 100px;
  text-align: right;
  left: -30px;
  bottom: 0px;
  font-size: 80%;
  color: #000;
}

/* チャットエリアのレスポンシブ */
@media screen and (max-width: 768px) {
  .chat-area{
    width: 100%;
  }
  .form-width{
  width: 90%;
  }
}