<div class="about">
  <%= image_tag "label.jpg", class: "d-block w-100" %>
  <p>TOOTを作ったきっかけ</p>
  <%= link_to "管理者ログイン", new_admin_session_path, class: "btn-lg btn-flat-border btn-block form-signin text-center" %>
</div>