<div class="about">
  <%= image_tag "label.jpg", class: "d-block w-100" %>
  <h1>TOOTとは</h1><br/>
  <p>作業療法士が、自助具を投稿・共有<br/>検索できるアプリケーション</p>
  <%= link_to "管理者ログイン", new_admin_session_path, class: "btn-flat-border text-center" %>
</div>