<%= link_to read_activity_path(activity), class: "list-group-item list-group-item-action list-group-item-light #{'read' if activity.read?}", method: :patch do %>
  <p class="m-0"><%= activity.subject.user.name %>があなたの投稿にいいねしました<%= l activity.created_at, format: :short %></p>
<% end %>