<div class="container">
  <div class="row">
    <table style="width: 90%" class="table table-borderless mx-auto">
      <% latest_posts.each do |latest_post| %>
        <tr class="mt-5 border-bottom">
          <td style="width: 5%" class="text-center">
            <%= latest_post.title %>
            <%= link_to admin_post_path(latest_post) do %>
              <%= image_tag latest_post.post_image.url, class: "m-2" %>
            <% end %>
          </td>
          <td style="width: 70%" class="p-0 align-middle">
            <% if latest_post.is_draft == true && latest_post.user.is_deleted == true %>
              <p class="inactive_color mb-0 text-center">非公開<br />（退会済）</p>
            <% elsif latest_post.is_draft == true %>
              <p class="inactive_color mb-0 text-center">非公開<br />（下書き）</p>
            <% else %>
              <p class="active_color mb-0 text-center">公開</p>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>