<div class="row table-responsive">
  <table style="width: 80%" class="table table-borderless text-nowrap mx-auto">
    <% latest_posts.each do |latest_post| %>
      <tr class="mt-5 border-bottom">
        <td style="width: 20%" class='align-middle text-center font-weight-bold'>
          <%= link_to latest_post.title, admin_post_path(latest_post) %>
        </td>
        <td style="width: 20%" class='text-center'>
          <%= link_to admin_post_path(latest_post) do %>
            <%= attachment_image_tag latest_post, :post_image, :fill, 100, 100, format: 'jpeg', class: 'm-2 rounded-circle' %>
          <% end %>
        </td>
        <td style="width: 20%" class="align-middle text-center font-weight-bold">
          <% if latest_post.is_draft == true && latest_post.user.is_deleted == true %>
            <p class="inactive_color mb-0 text-center">非公開<br />（退会済）</p>
          <% elsif latest_post.is_draft == true %>
            <p class="inactive_color mb-0 text-center">非公開<br />（下書き）</p>
          <% else %>
            <p class="active_color mb-0 text-center">公開</p>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>