<div class="container">
  <p class="btn-sticky m-2">POST</p>
  <h3 class="mx-auto py-1 text-center">投稿一覧</h3>

  <div class="row">
    <div class="col-md-4 offset-md-8 text-right mr-5">
      <%= link_to "カテゴリ一覧", admin_categories_path, class: 'btn btn-sm btn-outline-secondary' %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 offset-md-8 mt-3">
      <h6 class="text-right mr-5"><i class="fas fa-book-open"></i> <%= @post_count %></h6>
    </div>
  </div>

  <%= render 'admin/posts/index', latest_posts: @latest_posts %>

  <div class="row">
    <div class="mx-auto mt-4 mb-5">
      <%= paginate @latest_posts %>
    </div>
  </div>
</div>