<div class="container">
  <p class="btn-sticky m-2">CATEGORY</p>
  <h3 class="mx-auto py-1 text-center">カテゴリ編集</h3>

  <div class="row">
    <div class="col-6 offset-3">
      <div class="form-group mt-4 ml-md-2">
        <%= form_with model: @category, url: admin_category_path(@category), local: true do |f| %>
          <%= f.label :name, "カテゴリ名" %>
          <%= f.text_field :name, placeholder: "カテゴリ名", size: "40", class: 'mb-3 form-control' %>
          <%= f.submit "変更を保存", class: "btn btn-sm btn-outline-secondary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>