/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import "slick-theme";
@import "slick";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Noto Sans JP"!important;
}

footer {
  margin-top: auto;
}

a{
  text-decoration: none!important;
  color: #000;
}

a:hover{
  color: #000;
}

// ヘッダー
header .top{
  color: #000!important;
  font-size: 110%;
  font-family: 'Playfair Display', serif!important;
}

header .text{
  color: #000!important;
  font-size: 110%;
}

.dropdown-image{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #FFF;
}

// フッター
footer .top{
  color: #000;
  font-size: 30px;
  font-family: 'Playfair Display', serif!important;
}

footer .text{
  color: #000;
  font-family: 'Playfair Display', serif!important;
}

// ログイン・サインアップページ
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

// ページネーション
.pagination a {
  border-style: none!important;
  margin: .0em!important;
}

span.disabled {
  border-style: none!important;
}

// slickスライダー
.image1{
  width : 70%;
  margin: 0 auto;
}

.top{
  overflow: hidden;
}

.slick-slide{
  outline: none;
}

// パンくずリスト
#breadcrumbs-style {
  margin: 0 0 10px 80px;
  padding-right: 10px;
  color: gray!important;
}

#breadcrumbs-style a {
  color: gray;
}

#breadcrumbs-style a:first-child:before {
  padding-right: 5px;
  font-family: "Font Awesome 5 Free";
  font-size: 1.1em;
  font-weight: 900;
  content: "\f015";
}

#breadcrumbs-style a:hover {
  color: #000;
  text-decoration: none;
}

// 検索
.search{
  justify-content: center;
}


// レスポンシブ対応
@media screen and (max-width: 992px) {
  .n-circle {
    position: absolute;
    padding-left: 2.5rem;
    padding-top: 2rem;
    color: #efa04c;
    text-align: left;
  }
  .mypage_l{
    text-align: center!important;
  }
}

@media screen and (max-width: 768px) {
  .heading {
    justify-content: center;
  }
  .post_show {
    text-align: center;
  }
}

@media screen and (max-width: 576px) {
  #breadcrumbs-style {
    margin: 0 auto;
    padding-right: 10px;
  }
}