/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

p {
  font-family: "Noto Sans JP"!important;
}

a{
  text-decoration: none!important;
  color: #000;
  font-family: "Noto Sans JP"!important;
}

input, label{
  font-family: "Noto Sans JP"!important;
}

h1, h3{
  font-family: "Noto Sans JP"!important;
}


a:hover{
  color: #000;
}

// ヘッダー
header .top{
  color: #000!important;
  font-size: 30px!important;
}

header .text{
  color: #000!important;
}

// フッター
footer .top{
  color: #000;
  font-size: 30px;
}

footer .text{
  color: #000;
}

// 通知
.activity-width{
  width: 70%;
  margin: 0 auto;
}

.activity_read{
  background-color: #F2F3F4;
}

.border{
  border: 0!important;
  border-bottom: 1px solid #FFFFFF!important;
}

.border a{
  text-decoration: none;
  color: #000000;
}

.border a:hover{
  color: #566A8B;
}

// ログイン・サインアップページ
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

// チャット
#response_button{
  position: fixed;
  right: 10%;
  bottom: 10%;
}

.chat,
a.chat,
button.chat {
  font-size: 0.7rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #0C4271;
  border-radius: 0.5rem;
}

a.btn--circle {
  width: 80px;
  height: 80px;
  padding: 20px 0 0;
  border-radius: 50%;
  color: #fff;
  background: #5FA4A6;
  box-shadow: 0 7px 0 #0C4271;
}

a.btn--circle i {
  font-size: 150%;
}

.fa-position-bottom {
  position: absolute;
  bottom: 1rem;
  left: calc(50% - 0.5rem);
}

a.btn--circle:hover {
  transform: translate(0, 4px);
  color: #fff;
  box-shadow: 0 3px 0 #0C4271;
}

.n-circle {
  position: absolute;
  padding-left: 1rem;
  padding-top: 2rem;
  color: #efa04c;
}

// ページネーション
// .pagination {
//   border-style: none;
// }

@media screen and (max-width: 992px) {
  .n-circle {
    position: absolute;
    padding-left: 2.5rem;
    padding-top: 2rem;
    color: #efa04c;
    text-align: left;
  }
}