<div class="row">
  <table style="width: 95%" class="table table-borderless mx-auto">
    <% users.each do |user| %>
      <tr class="mt-5 border-bottom">
        <td style="width: 5%" class='text-right'>
          <%= link_to (attachment_image_tag user, :profile_image, :fill, 150, 150, format: 'jpg', fallback: "no_image.jpg", size:'40x40', class:'rounded-circle'), admin_user_path(user.id) %>
        </td>
        <td style="width: 15%" class='px-1 py-4 text-center'>
          <u><%= link_to user.name, admin_user_path(user.id) %></u>
        </td>
        <td style="width: 8%" class="py-0 px-1 align-middle text-center">
          <% if user.is_deleted == false %>
            <p class="active_color mb-0"><%= user.is_deleted_status %></p>
          <% else %>
            <p class="inactive_color mb-0"><%= user.is_deleted_status %></p>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>